@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

body {
    font-family: Verdana, "LXGW WenKai Screen", sans-serif;
    /*font-size: 16px;*/
}
.tag-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* space between items */
}

.tag-list li {
    display: inline-block;
    padding: 0.4rem 0.4rem 0 0;
}


code {
    color: cornflowerblue;
}

hr {
    border: none;
    border-top: 1px solid dimgrey;      /* subtle line */
    height: 1px;
    margin: 1.5rem auto;
    opacity: 0.4;                    /* a bit lighter */
}


figure img {
    border-radius: 1%;
}
