@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

body {
    /*font-family: Verdana, "LXGW WenKai Screen", sans-serif;*/
    font-family: monospace, "LXGW WenKai Screen", sans-serif;
    /*font-size: 16px;*/
}

.tag-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* space between items */
}

.tag-list li {
    display: inline-block;
    padding: 0.4rem 0.4rem 0 0;
}


code {
    color: cornflowerblue;
}

hr {
    border: none;
    border-top: 1px solid dimgrey;      /* subtle line */
    height: 1px;
    margin: 1.5rem auto;
    opacity: 0.4;                    /* a bit lighter */
}


figure img {
    border-radius: 1%;
}

/*h1{*/
/*    color:#87CEFA;*/
/*}*/
h2{
    color: #DDA78C;
    /*font-weight: bold;*/
}

h3{
    color: #9ADD8C;
    /*# bold text*/
    /*font-weight: bold;*/
}

.blog_pic_portrait img{
    /*width: auto;*/
    /*height: 20%;*/
    /*border-radius: 10px;*/
}


/* 让 figure 居中对齐 */
.hugo-figure {
    text-align: center;   /* caption 居中 */
    margin: 1em auto;     /* 整个 figure 居中，并加点上下间距 */
}

/* 让图片在容器中水平居中 */
.hugo-figure img {
    display: block;
    margin: 0 auto;
}


/* caption 美化一下 */
.hugo-figure figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #666;
}


