{{ define "main" }}
{{ $hasToc := and (gt (len .TableOfContents) 0) (not .Params.hideToc) }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }}
</p>
{{ end }}
<content>
  {{- if $hasToc -}}
  <nav id="toc-inline" class="toc toc-inline" aria-label="{{ i18n "toc-label" }}">
    <span class="toc-head">{{ i18n "toc-label" }}</span>
    {{ .TableOfContents }}
  </nav>
  {{- end -}}
  {{ .Content }}
</content>

{{- if $hasToc -}}
<aside id="toc-aside" class="toc toc-aside" aria-label="{{ i18n "toc-label" }}">
  <span class="toc-head">{{ i18n "toc-label" }}</span>
  {{ replaceRE `id="TableOfContents"` "" .TableOfContents | safeHTML }}
</aside>
{{- end -}}

<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
<hr>
{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
<details class="post-reply">
  <summary>{{ i18n "email-reply" }} ↪</summary>
  {{ partial "contact_form.html" $ }}
</details>
{{ end }}
{{ end }}
{{ if $hasToc }}
<script src="/js/toc.js" defer></script>
{{ end }}
<script src="/js/zoom.js" defer></script>
{{ end }}
