{{ define "main" }}
<content>
  {{ with .Params.intro }}
  <p class="home-intro">{{ . | markdownify }}</p>
  {{ end }}

  {{ $posts := where .Site.RegularPages "Section" "blog" }}
  {{ if $posts }}
  <ul class="home-posts">
    {{ range $posts.GroupByDate "2006" "desc" }}
    <li class="home-year">
      <h2 class="home-year-label">{{ .Key }}</h2>
      <ul class="home-year-posts">
        {{ range .Pages.ByDate.Reverse }}
        <li class="home-post">
          <time class="home-post-date" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "01-02" }}</time>
          {{ if .Params.link }}
          <a class="home-post-title" href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Title }} ↪</a>
          {{ else }}
          <a class="home-post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <p>{{ i18n "no-posts" }}</p>
  {{ end }}
</content>
{{ end }}
